{% extends 'base.html' %} {% block body %}

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 col-xl-4">
                            <!-- Simple card -->
                            <div class="card">
                                <iframe width="560" style="height: 300px; box-sizing: border-box;" class="card-img-top img-fluid" alt="Card image cap" height="315" src="https://www.youtube.com/embed/R-EgrYNT3Zo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h2 class="card-title mb-2" style="font-size: 20px;">velzon</h2>
                                    <p class="card-text">Bootstarp HTML template<br>This is admin Dashboard with all UI element.</p>
                                    <div class="text-center mt-4">
                                        <a href="https://themeforest.net/item/velzon-aspnet-core-admin-dashboard-template/full_screen_preview/36077495?_ga=2.228662681.40710517.1667977074-1126301170.1666015366&_gac=1.121350650.1667993592.CjwKCAiA9qKbBhAzEiwAS4yeDVfmb0_8ERyA9stXwb5RE4aP1zIlXWALMCoPoI9outlyfv-chNKUHxoCTHwQAvD_BwE" class="btn btn-success mb-3 w-100">Live Preview</a>
                                        {% if session["username"] %}
                                        <a href="https://github.com/codescatter/velzon" class="btn btn-primary w-100">Download Code</a>
                                        {% else %}
                                        <a href="#" class="btn btn-primary w-100" style="cursor: not-allowed;" aria-disabled="true" title="Please first login">Download Code</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div><!-- end card -->
                        </div><!-- end col -->
                        <div class="col-sm-6 col-xl-4">
                            <!-- Simple card -->
                            <div class="card">
                                <iframe width="560" style="height: 300px; box-sizing: border-box;" class="card-img-top img-fluid" alt="Card image cap" height="315" src="https://www.youtube.com/embed/R-EgrYNT3Zo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h2 class="card-title mb-2" style="font-size: 20px;">Joxi</h2>
                                    <p class="card-text">Bootstarp HTML template<br>This is admin Dashboard with all UI element.</p>
                                    <div class="text-center mt-4">
                                        <a href="https://themeforest.net/item/velzon-aspnet-core-admin-dashboard-template/full_screen_preview/36077495?_ga=2.228662681.40710517.1667977074-1126301170.1666015366&_gac=1.121350650.1667993592.CjwKCAiA9qKbBhAzEiwAS4yeDVfmb0_8ERyA9stXwb5RE4aP1zIlXWALMCoPoI9outlyfv-chNKUHxoCTHwQAvD_BwE" class="btn btn-success mb-3 w-100">Live Preview</a>
                                        {% if session["username"] %}
                                        <a href="https://github.com/codescatter/velzon" class="btn btn-primary w-100">Download Code</a>
                                        {% else %}
                                        <a href="#" class="btn btn-primary w-100" style="cursor: not-allowed;" title="Please first login">Download Code</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div><!-- end card -->
                        </div><!-- end col -->
                        <div class="col-sm-6 col-xl-4">
                            <!-- Simple card -->
                            <div class="card">
                                <iframe width="560" style="height: 300px; box-sizing: border-box;" class="card-img-top img-fluid" alt="Card image cap" height="315" src="https://www.youtube.com/embed/R-EgrYNT3Zo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h2 class="card-title mb-2" style="font-size: 20px;">velzon</h2>
                                    <p class="card-text">Bootstarp HTML template<br>This is admin Dashboard with all UI element.</p>
                                    <div class="text-center mt-4">
                                        <a href="https://themeforest.net/item/velzon-aspnet-core-admin-dashboard-template/full_screen_preview/36077495?_ga=2.228662681.40710517.1667977074-1126301170.1666015366&_gac=1.121350650.1667993592.CjwKCAiA9qKbBhAzEiwAS4yeDVfmb0_8ERyA9stXwb5RE4aP1zIlXWALMCoPoI9outlyfv-chNKUHxoCTHwQAvD_BwE" class="btn btn-success mb-3 w-100">Live Preview</a>
                                        {% if session["username"] %}
                                        <a href="https://github.com/codescatter/velzon" class="btn btn-primary w-100">Download Code</a>
                                        {% else %}
                                        <a href="#" class="btn btn-primary w-100" aria-disabled="true" title="Please first login">Download Code</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div><!-- end card -->
                        </div><!-- end col -->
                        <div class="col-sm-6 col-xl-4">
                            <!-- Simple card -->
                            <div class="card">
                                <iframe width="560" style="height: 300px; box-sizing: border-box;" class="card-img-top img-fluid" alt="Card image cap" height="315" src="https://www.youtube.com/embed/R-EgrYNT3Zo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h2 class="card-title mb-2" style="font-size: 20px;">velzon</h2>
                                    <p class="card-text">Bootstarp HTML template<br>This is admin Dashboard with all UI element.</p>
                                    <div class="text-center mt-4">
                                        <a href="https://themeforest.net/item/velzon-aspnet-core-admin-dashboard-template/full_screen_preview/36077495?_ga=2.228662681.40710517.1667977074-1126301170.1666015366&_gac=1.121350650.1667993592.CjwKCAiA9qKbBhAzEiwAS4yeDVfmb0_8ERyA9stXwb5RE4aP1zIlXWALMCoPoI9outlyfv-chNKUHxoCTHwQAvD_BwE" class="btn btn-success mb-3 w-100">Live Preview</a>
                                        {% if session["username"] %}
                                        <a href="https://github.com/codescatter/velzon" class="btn btn-primary w-100">Download Code</a>
                                        {% else %}
                                        <a href="#" class="btn btn-primary w-100" aria-disabled="true" title="Please first login">Download Code</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div><!-- end card -->
                        </div><!-- end col -->
                        <div class="col-sm-6 col-xl-4">
                            <!-- Simple card -->
                            <div class="card">
                                <iframe width="560" style="height: 300px; box-sizing: border-box;" class="card-img-top img-fluid" alt="Card image cap" height="315" src="https://www.youtube.com/embed/R-EgrYNT3Zo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <div class="card-body">
                                    <h2 class="card-title mb-2" style="font-size: 20px;">velzon</h2>
                                    <p class="card-text">Bootstarp HTML template<br>This is admin Dashboard with all UI element.</p>
                                    <div class="text-center mt-4">
                                        <a href="https://themeforest.net/item/velzon-aspnet-core-admin-dashboard-template/full_screen_preview/36077495?_ga=2.228662681.40710517.1667977074-1126301170.1666015366&_gac=1.121350650.1667993592.CjwKCAiA9qKbBhAzEiwAS4yeDVfmb0_8ERyA9stXwb5RE4aP1zIlXWALMCoPoI9outlyfv-chNKUHxoCTHwQAvD_BwE" class="btn btn-success mb-3 w-100">Live Preview</a>
                                        {% if session["username"] %}
                                        <a href="https://github.com/codescatter/velzon" class="btn btn-primary w-100">Download Code</a>
                                        {% else %}
                                        <a href="#" class="btn btn-primary w-100" aria-disabled="true" title="Please first login">Download Code</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div><!-- end card -->
                        </div><!-- end col -->
                    </div>
                </div>
            </div>

            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © Code scatter.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Design & Develop by Code scatter
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->


{% endblock %}